@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background:  #333333;
  
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    color: white;
  }

h1 {
  color: #D98004;
  font-size: 1.5rem;
  line-height: 2rem/* 36px */;
  font-weight: 700;
}




  

  