@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background:  #171616;
  
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    color: white;
  }

h1 {
  color: #D98004;
}



  

  